@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

/* mobile first design */
body {
  background-color: papayawhip;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#header-bar {
  display: flex;
  flex-direction: column;
  height: 10vh;
  background-color: peru;
  align-items: center;
}

#header-bar h1,
#header-bar h2 {
  font-weight: bold;
  text-align: center;
  margin: 0;
}

#header-bar h1 {
  font-size: 2rem;
}

#header-bar h2 {
  font-size: 1.5rem;
}

#main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2%;
  justify-content: center;
  align-items: center;
  /* overflow-y: auto; */
}

.sections {
  display: flex;
  flex-direction: column;
  /* flex: 1; */
  /* border: 5px solid black; */
  align-items: center;
  /* margin: 5px 0; */
}

#first-section {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

#cookie-counter {
  font-size: 10vw;
}

#second-section {
  display: flex;
  flex: 1;
  flex-direction: column;
  /* flex: 1; */
  /* justify-content: center; */
  align-items: center;
}

#button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

#cookie-button {
  /* display: flex; */
  width: 90%;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  align-items: center;
  position: relative;
}

#cookie-button p {
  /* position: absolute;
  bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  text-wrap: nowrap;
  width: 100px; */
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 5%;
  font-weight: bold;
}

#cookie-button img {
  max-width: 100%;
  /* max-height: 100%; */
  height: 35vh;
  /* margin-top: -60px; */
}
#cookie-button img:active {
  cursor: pointer;
  transform: scale(1.05);
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  /* found active by googling, prefer it to :hover for this app */
}

#reset-button {
  margin: 3px;
  display: block;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  /* margin-top: 0.5rem; */
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #491e16;
  border-radius: 10px;
}

#third-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 5px solid black;
  border-radius: 25px;
  width: fit-content;
}

/* #upgrade-container {
  display: grid;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  grid-template-columns: 2fr 1fr 1fr;
} */

#upgrade-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 10px; /* space between grid items */
  overflow: auto;
  max-height: 30vh;
  width: fit-content;
  padding: 10px;
}

.upgrade-item {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.upgrade-item p {
  margin: 5px 0;
}

.upgrades {
  display: flex;
  border: 3px solid blueviolet;
  margin: -3px;
}
*/

/* #upgrade-name {
  height: 25%;
  background-color: peru;
} */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100%;
  background-color: white;
}
